<h1>Look at all these Movies!</h1>
<%= link_to "Add a Movie", new_movie_path %>
<hr>
<% @movies.each do |movie| %>
  <p>I gave the movie <%= link_to movie.title, movie_path(movie) %> a rating of <%= movie.rating %>.</p>
  <hr>
<% end %>
